.abstractPage-bg{
   
    background-color: #F2F3F4;
    width: 100vw;  
    height: 100%;     
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    
}


.abstract-searchBar{
    background: transparent;
    outline: none;
    box-shadow: 3px 3px 2px 1px #afb0b0;
    color: #5D6D7E ;
}

.abstract-heading{
    color: #808B96;
}


@media(max-width:768px){
    .dataCard-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:450px){
    .dataCard-container{
        display: grid;
        grid-template-columns: 1fr;
    }

    .abstract-heading{
        color: #808B96;
        font-size: 18px;
    }
}