.getStarted-btn{
  background-color: rgb(98, 110, 122);
  color: white;
  padding: 8px;
  width: 170px;
  padding-left: 3px;
  padding-right: 3px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;

  box-shadow: 2px 2px 4px 0px grey;
  /* border: 2px solid pink; */
  border-style: none;
  position: relative;
  z-index: 0;
}

.getStarted-btn::before {
  content: "";
  background-color:rgb(8, 77, 37);
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
  z-index: -1;

}

.getStarted-btn:hover::before {
  transform: scaleX(1);
}

.getStarted-btn:hover {
  cursor: pointer; 
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.home-title, .home-description,.getStarted-btn {
  animation: slideInFromLeft 3s ease forwards;
}

.title{
   color: white;
}


.video-background {
  position: absolute;
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(100%);

}

.homeContent-container{
  z-index: 1;
}
.content-container{
z-index: 1;
}



.home-image { 
  top: 50%;
  left: 50%;
  height: 400px;
  width: 500px;
  transform: translate(-50%, -50%);
  animation: bounce 2s infinite alternate; /* Adjust animation duration and timing as needed */
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px); /* Adjust the distance the image moves */
  }
}

.homeImage-container{
  position: relative;
  z-index: 1;
  left: 6rem;
  top: 6rem;

}